@import '@/scss/variables.scss';

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px !important;
  .nav-link {
    padding: 5px;
    color: $primary !important;
    font-size: $navbar-font-size;
    &:hover {
      color: darken($primary, 10%) !important;
    }
    &.active {
      color: darken($primary, 5%) !important;
      &:hover {
        color: darken($primary, 10%) !important;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    .nav-link {
      &.active {
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 21px;
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    .nav-link {
      &.active {
        color: darken($primary, 20%) !important;
      }
    }
  }
}
