$primary: #27c1eb; // Your desired primary color
$bs-btn-border-color: red;

// Include Bootstrap styles with your customizations
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Nunito Sans';
  src: url('/font/NunitoSans.ttf') format('truetype');
  /* You may need to adjust the path to your font file */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Bold';
  src: url('/font/NunitoSansBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
}

.btn-primary {
  color: white;
  &:hover {
    color: white;
  }
}

.btn-outline-secondary {
  --bs-btn-border-color: #dee2e6;
}

// Typography
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.85em;
}

h1, h2, h3, h4, h5, h6 {
  color: #626262;
  font-family: 'Nunito Sans Bold', sans-serif;
}

.nav-item {
  font-family: 'Nunito Sans Bold', sans-serif;
  font-size: 1.1em;
}